.container{
    display: flex;
    flex-direction: column;
    
}
.middle-container{
    display: flex;
    flex-direction: row;
}
.middle-container div{
    width: 100%;
}
.container div:first-child{
    background-color: #91C9C4;
    padding: 10px;
}
.container div:last-child{
    background-color: #52A49A;
    padding: 10px;
}
.middle-container div:first-child{
    background-color: #F3AF3D;
    width: 25%;
    height: 400px;
}
.middle-container div:nth-child(2){
    background-color: #F8D767;
    width: 40%;
}
.middle-container div:last-child{
    background-color: #FDF288;
    width: 35%;
}

